<div class="footer container-fluid bg-dark py-4 text-white">
    <div class="container">
        <div class="row my-auto">
            <div class="col-md-12 text-center">
                <p>&copy; creado por Uriel Sánchez</p>
            </div>
        </div>
    </div>
</div>