<button
  type="button"
  class="btn btn-primary my-2"
  (click)="habilitar = habilitar == true ? false : true"
>
  {{ habilitar == true ? "Ocultar" : "Mostrar" }}
</button>

<div class="card">
  <div class="card-header">
    <h4>Listado de cursos</h4>
  </div>
  <ul class="list-group" *ngIf="habilitar">
    <li class="list-group-item" *ngFor="let curso of listaCurso">
      {{ curso }}
    </li>
  </ul>
</div>
