<div class="card mb-4">
  <div class="card-header">
    <h4>Clientes</h4>
  </div>
  <div class="card-body text-primary">
    <h4 class="card-title">Listado de Clientes</h4>

    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-primary"
        type="button"
        [routerLink]="['/clientes/form']"
      >
        Crear Cliente
      </button>
    </div>

    <div *ngIf="clientes?.length == 0" class="alert alert-info">
      No hay registro en la base de datos
    </div>

    <table
      class="table table-striped table-inverse table-responsive"
      *ngIf="clientes?.length > 0"
    >
      <thead class="thead-inverse">
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td scope="row">{{ cliente.idCliente }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido | uppercase}}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt | date:'EEEE dd MMMM yyyy'}}</td>
          <td>
            <button
              type="button"
              name="button"
              [routerLink]="['/clientes/form', cliente.idCliente]"
              class="btn btn-warning"
            >
              Editar
            </button>
          </td>
          <td>
            <button
              type="button"
              name="button"
              (click)="delete(cliente)"
              class="btn btn-danger"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator [paginador]="paginador" *ngIf="paginador"></app-paginator>
  </div>
</div>
