<ul class="alert alert-danger" *ngIf="errores">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">
    <h4>{{ titulo }}</h4>
  </div>
  <div class="card-body">
    <form (ngSubmit)="create(form)" #form="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-md-2">Nombre:</label>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            name="nombre"
            [(ngModel)]="cliente.nombre"
            #nombre="ngModel"
            required
            minlength="4"
          />

          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <span *ngIf="nombre.errors.required"> *Nombre es requerido </span>
            <span *ngIf="nombre.errors.minlength">
              *Nombre debe tener al menos 4 carácteres
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-md-2">Apellido:</label>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            name="apellido"
            [(ngModel)]="cliente.apellido"
            #apellido="ngModel"
            required
          />

          <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <span *ngIf="apellido.errors.required">*Apellido es requerido</span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-md-2">Email:</label>
        <div class="col-md-6">
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="cliente.email"
            #email="ngModel"
            required
            email
          />

          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <span *ngIf="email.errors.required">*Email es requerido</span>
            <span *ngIf="email.errors.email">
              *El email debe tener un formato válido
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-md-2">Fecha:</label>
        <div class="col-md-6">
          <input
            matInput
            [matDatepicker]="picker"
            class="form-control"
            name="createAt"
            [(ngModel)]="cliente.createAt"
            style="display:inline; width:300px;"
          />

          <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <button class="btn btn-primary btn-block" role="button">
            {{ cliente.idCliente ? "Modificar" : "Crear" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
