<ul *ngIf="paginas?.length>0" class="pagination">

    <li [ngClass]="paginador.first?'disabled page-item':'page-item'">
        <a class="page-link" [routerLink]="['/clientes/page',0]">Primera</a>
    </li>

    <li class="page-item" *ngIf="!paginador.first">
        <a class="page-link" [routerLink]="['/clientes/page',paginador.number-1]">&laquo;</a>
    </li>

    <li *ngFor="let pagina of paginas" class="page-item" [ngClass]="pagina-1 == paginador.number?'active':''">
        <span *ngIf="pagina-1 == paginador.number" class="page-link">{{pagina}}</span>
        <a *ngIf="pagina-1 != paginador.number" [routerLink]="['/clientes/page', (pagina-1)]" class="page-link">{{pagina}}</a>
    </li>

    <li class="page-item" *ngIf="!paginador.last">
        <a class="page-link" [routerLink]="['/clientes/page',paginador.number+1]">&raquo;</a>
    </li>

    <li [ngClass]="paginador.last?'disabled page-item':'page-item'">
        <a class="page-link" [routerLink]="['/clientes/page',paginador.totalPages-1]">Ultima</a>
    </li>
</ul>
